{% extends "base.html" %}
{% load static %}

{% block content %}

<body id="page-top">
  <div id="home" class="intro route bg-image" style="background-image: url({% static 'img/royl1.jpeg'%})">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">Hello, world!<br> Welcome to my portfolio...</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Entrepreneur,Web Developer,Web Designer,Frontend Developer,Graphic Designer, Backend Developer</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>






  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{% static 'img/ui.jpg'%}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Alex Mwaura</span></p>
                      <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                      <p><span class="title-s">Email: </span> <span>alexmwaura43@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>0772514487</span></p>
                    </div>
                  </div>
                </div>

                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>Python</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>
                   <span>ReactJs</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>
                  <span>NodeJs</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>
                  <span>PHP</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>
                  <span>Angularjs</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>
                  <span>Javascript</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>

                   <span>Html</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>

                   <span>Bootstrap</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>

                   <span>CSS3</span> <span class="pull-right"></span>
                  <div class="progress">
                    
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    <!-- Alex Mwaura stands at the forefront of the fastest moving technology industry trend: Web development. He spends his life developing and learning new technologies -->
                     a curious minded person and a student of life, technology being my main passion: I like to concern myself with the fatest moving technology trends in web development and I spend most of my time developing new systems and learning from my peers.
                    <br>
                    My hobby is playing chess a game of strategy and calculations, these helps me contemptualize and come up with solutions to most challenging tasks and therefore I never shy away from a challenge.
                    <br>
                    My motto: "If the solution does not work seek knowledge and if knowledge is not the key seek rest and repeat the procedure" 
   
                     

                  </p>
                           
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!--/ Section Services Star /-->

  <!--/ Section Services End /-->

  <div class="section-counter paralax-mf bg-image" style="background-image: url({% static 'img/counters-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">100</p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">1</p>
              <span class="counter-text">YEARS OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">5</p>
              <span class="counter-text">TOTAL CLIENTS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">3</p>
              <span class="counter-text">AWARD WON</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- <section id="service" class="services-mf route" >
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Web Design</h2>
              <p class="s-description text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                provident vitae! Magni
                tempora perferendis eum non provident.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Web Development</h2>
              <p class="s-description text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                provident vitae! Magni
                tempora perferendis eum non provident.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-camera"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Photography</h2>
              <p class="s-description text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                provident vitae! Magni
                tempora perferendis eum non provident.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Responsive Design</h2>
              <p class="s-description text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                provident vitae! Magni
                tempora perferendis eum non provident.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Graphic Design</h2>
              <p class="s-description text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                provident vitae! Magni
                tempora perferendis eum non provident.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Marketing Services</h2>
              <p class="s-description text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni adipisci eaque autem fugiat! Quia,
                provident vitae! Magni
                tempora perferendis eum non provident.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->




  <!--/ Section Portfolio Star /-->
  <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
         
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            
              <div class="work-img">
                <img src="{% static 'img/estate1.png'%}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><a href="https://djestate.herokuapp.com/">Djestate</a></h2>
                    <div class="w-more">
                      <span class="w-ctegory"> E-commerce</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="{% static 'img/estate1.png' %}" data-lightbox="gallery-mf">  <span class="ion-ios-plus-outline"></span> </a>
                    </div>
                  </div>
                </div>
              </div>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="{% static 'img/news1.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><a href="https://news-squad-highlights.herokuapp.com/">News App</a></h2>
                    <div class="w-more">
                      <span class="w-ctegory">Api</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="{% static 'img/news1.png' %}" data-lightbox="gallery-mf">  <span class="ion-ios-plus-outline"></span> </a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="{% static 'img/insta.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><a href="https://thegram2.herokuapp.com/"> Instagram clone </a></h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="{% static 'img/insta.png' %}" data-lightbox="gallery-mf">  <span class="ion-ios-plus-outline"></span> </a>
                    </div>
                  </div>
                </div>
              </div>
           
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
              <div class="work-img">
                <img src="{% static 'img/galla.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><a href="https://artist21.herokuapp.com/">Personal Gallery</a></h2>
                    <div class="w-more">
                      <span class="w-ctegory">Django CRUD</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <a href="{% static 'img/galla.png' %}" data-lightbox="gallery-mf">  <span class="ion-ios-plus-outline"></span> </a>
                    </div>
                  </div>
                </div>
              </div>
         
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/git1.png' %}" data-lightbox="gallery-mf">
              <div class="work-img">
                <img src="{% static 'img/git1.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title"><a href="https://ghpages2-ae9bc.firebaseapp.com/users">Github Search</a></h2>
                    <div class="w-more">
                      <span class="w-ctegory">Api</span> / <span class="w-date">18 Sep. 2018</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{% static 'img/jenga1.png' %}" data-lightbox="gallery-mf">  </a>
              <div class="work-img">
                <img src="{% static 'img/jenga1.png' %}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">

                    <h2 class="w-title"><a href="https://denningkevin.github.io/Construction/">Construction</a></h2>
                    <div class="w-more">
                      <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2017</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span> 
                    </div>
                  </div>
                </div>
              </div>
         
          </div>
        </div>

      </div>
    </div>
  </section>
  <!--/ Section Portfolio End /-->








  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'img/overlay-bg.jpg' %})">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Send us a message
                    </h5>
                  </div>
                  <div>
                    
                      <form action="{% url 'index' %}" method="POST" id="post-form" role="form" class="contactForm">
                          {% csrf_token %}

                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{form.name}}
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                           {{form.from_email}}
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              {{form.subject}}
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            {{form.message}}
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      If you are looking to hire or want to work together with me, <span> <em>contact me via:</em> </span>
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-telephone"></span> 0772514487</li>
                      <li><span class="ion-email"></span> alexmwaura43@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/alex-mwaura-99939b188/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                      <li><a href="https://www.instagram.com/aleky_mwaura/"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://twitter.com/alexmwaura43"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>Alex Mwaura <small>2020</small></strong>. All Rights Reserved</p>
              <div class="credits">
                Designed by <a href="https://github.com/alexmwaura">alexmwaura</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->




  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>


</body>




  

  
  



{% endblock %}
